@model int[]

@{
    ViewBag.Title = "ReportsPage";
}

<h2>Reports</h2>
<p>From this page you can generate reports about you finances.</p>

<h5>Select what report you would like to generate.</h5>
<div>
    <p>@Html.ActionLink("Reports", "ProfitLossReport", "Reports", null, new { @class = "btn btn-outline-dark" })</p>
    <p>@Html.ActionLink("Reports", "TrialBalance", "Reports", null, new { @class = "btn btn-outline-dark" })</p>

</div>

