@model Group7_iFINANCEAPP.Models.MasterAccount

@{
    ViewBag.Title = "Delete";
}

<div class="container my-5">
    <div class="card shadow-sm rounded-4 p-5">
        <h2 class="text-center mb-4">Confirm Deletion</h2>
        <h4 class="text-center text-danger mb-4">Are you sure you want to delete this account?</h4>
@if (Model.TransactionLine.Count + Model.TransactionLine1.Count > 0)
{
    <div class="alert alert-warning"><h6>This account contains transactions that will also be deleted.</h6></div>
}
        <dl class="row">
            <dt class="col-sm-4">Account Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.name)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

<style>
    .btn-primary {
        background-color: #8058ac;
        border-color: #8058ac;
    }

    .btn-primary:hover {
        background-color: #7048a0;
        border-color: #7048a0;
    }
</style>